# Core Django
django>=5.1

# Blockchain & Web3
web3
eth-account

# Encryption (for secure file storage)
pycryptodome

# AI - Local Anomaly Detection (no internet needed)
scikit-learn
numpy
pandas

# Forms & UI
django-crispy-forms
crispy-bootstrap5

# Optional but useful
python-dotenv
pillow
py-solc-x